
*.suo
/src/LifeLogger/_ReSharper.LifeLogger
/src/LifeLogger/LifeLogger/obj
/src/LifeLogger/LifeLogger/bin
/src/LifeLogger/LifeLogger.GDocs/obj
/src/LifeLogger/LifeLogger.GDocs/bin
/src/LifeLogger/LifeLogger.Tests/LifeLogger.Tests.csproj
/src/LifeLogger/LifeLogger.Tests/ParserEngineTest.cs
/src/LifeLogger/LifeLogger.Tests/Properties/AssemblyInfo.cs
/src/LifeLogger/LifeLogger.Tests/bin/Debug/Google.GData.Client.dll
/src/LifeLogger/LifeLogger.Tests/bin/Debug/Google.GData.Extensions.dll
/src/LifeLogger/LifeLogger.Tests/bin/Debug/Google.GData.Spreadsheets.dll
/src/LifeLogger/LifeLogger.Tests/bin/Debug/LifeLogger.GDocs.dll
/src/LifeLogger/LifeLogger.Tests/bin/Debug/LifeLogger.GDocs.pdb
/src/LifeLogger/LifeLogger.Tests/bin/Debug/LifeLogger.Tests.dll
/src/LifeLogger/LifeLogger.Tests/bin/Debug/LifeLogger.Tests.pdb
/src/LifeLogger/LifeLogger.Tests/bin/Debug/LifeLogger.exe
/src/LifeLogger/LifeLogger.Tests/bin/Debug/LifeLogger.pdb
/src/LifeLogger/LifeLogger.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/LifeLogger/LifeLogger.Tests/obj/Debug/LifeLogger.Tests.csproj.FileListAbsolute.txt
/src/LifeLogger/LifeLogger.Tests/obj/Debug/LifeLogger.Tests.dll
/src/LifeLogger/LifeLogger.Tests/obj/Debug/LifeLogger.Tests.pdb
/src/LifeLogger/LifeLogger.Tests/obj/Debug/ResolveAssemblyReference.cache
/src/LifeLogger/LifeLogger.vsmdi
/src/LifeLogger/LifeLogger/Parser/ParserContext.cs
/src/LifeLogger/LifeLogger/Parser/ParserEngine.cs
/src/LifeLogger/Local.testsettings
/src/LifeLogger/TraceAndTestImpact.testsettings
/src/LifeLogger/LifeLogger.sln.DotSettings.user
/src/LifeLogger/_ReSharper.LifeLogger